.landing-page {
    text-align: center;
    margin-top: 100px;
  }
  
  .landing-page h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .landing-page button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  